@font-face {
  font-family: Madina;
  src: url('./assets/fonts/Madina.ttf');
}

@font-face {
  font-family: The Seasons;
  src: url('./assets/fonts/The\ Seasons\ Regular.ttf');
}

.titulo {
  font-family: Madina, serif;
}

.idade, .seasons {
  font-family: The Seasons, serif;
}

div[role="alert"], .inter {
  font-family: "Inter", sans-serif;
}